@model Boilerplate.Domain.Entities.DefaultModel
@Html.Raw(Model.Content)
@if (Model != null & Model.Data != null)
{
    <p><b>Date:</b> @DateTime.Now</p>
    foreach (KeyValuePair<string, string> dictValue in Model.Data)
    {
        <p><b>@dictValue.Key:</b> @Html.Raw(@dictValue.Value)</p>
    }
}